@using PagedList.Mvc
@model PagedList.IPagedList<Service.Models.Book>

@{
    ViewBag.Title = "BrowseAllBooks";
    ViewBag.activeBrowseBy = "Books";
}

<div class="text-center" id="pageSelector">
    <div class="pagination">
        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)
        of @Model.PageCount
        @Html.PagedListPager(Model, page => Url.Action("browseAllBooks", new { page }))
    </div>
</div>

@Html.Partial("ListBooks", Model)

<div class="text-center" id="pageSelector">
    <div class="pagination">
        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)
        of @Model.PageCount
        @Html.PagedListPager(Model, page => Url.Action("browseAllBooks", new { page }))
    </div>
</div>