@using PagedList.Mvc
@model PagedList.IPagedList<ServerSide_Project.Models.Book>

@{
    ViewBag.Title = "BrowseSearchedBooks";
    ViewBag.activeBrowseBy = "Books";
}

<div class="text-center" id="pageSelector">
    <div class="pagination">
        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)
        of @Model.PageCount
        @Html.PagedListPager(Model, page => Url.Action("SearchBooks", new { page, search = Request.Params["search"] }))
    </div>
</div>

@Html.Partial("ListBooks", Model)

<div class="text-center" id="pageSelector">
    <div class="pagination">
        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)
        of @Model.PageCount
        @Html.PagedListPager(Model, page => Url.Action("SearchBooks", new { page, search = Request.Params["search"] }))
    </div>
</div>