@model ServerSide_Project.Models.Book

@{
    ViewBag.Title = "ListBookDetails";
}

<h2>ListBookDetails</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ISBN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PublicationYear)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pages)
        </th>
        <th></th>
    </tr>

    <tr>
        <td>
            @Html.DisplayFor(modelItem => Model.ISBN)
        </td>
        <td>
            @Html.DisplayFor(modelItem => Model.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => Model.PublicationYear)
        </td>
        <td>
            @Html.DisplayFor(modelItem => Model.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => Model.Pages)
        </td>
        <td>
            @Html.ActionLink("Edit", "EditBook","Books", new { id=Model.ISBN }, null) |
            @Html.ActionLink("Delete","DeleteBook", "Books", new {  id=Model.ISBN },null)
        </td>
    </tr>

</table>
