@model IEnumerable<ServerSide_Project.Models.Admin>

@{
    ViewBag.Title = "GetAdminView";
}


<div class="col-sm-1"></div>
<div class="col-sm-11">
    <h2>Admin Panel</h2>

    @Html.ActionLink("Create New Book", "CreateBook", "Create") | 
    @Html.ActionLink("Create New Admin", "CreateAdmin", "Create") | 
    @Html.ActionLink("Create New Author", "CreateAuthor", "Create")


    <div class="row" id="adminList">
        @foreach (var item in Model)
        {
            <div class="row" id="adminRow">
                <div class="col-sm-2">
                    @Html.DisplayFor(modelItem => item.Username)
                </div>
                <div class="col-sm-2 text-right" id="adminOptions">
                    @Html.ActionLink("Delete Admin", "DeleteAdmin", "Delete", new {id = item.Username }, null)
                </div>
            </div>
        }
    </div>
</div>