@model IEnumerable<Service.Models.Admin>

@{
    ViewBag.Title = "AdminPanel";
}



<div class="col-sm-6 col-sm-offset-3 text-center">
    <h2>Admin Panel</h2>
    @Html.ActionLink("Create New Book", "CreateBook", "BookAuthorClassification") | 
    @Html.ActionLink("Create New Admin", "CreateAdmin", "Admin") | 
    @Html.ActionLink("Create New Author", "CreateAuthor", "Author")
</div>

@foreach (var item in Model)
{
    <div class="row" id="adminList">
        <div class="col-sm-6 col-sm-offset-3">
            <div class="row" id="adminListItem">
                <div class="col-sm-3" id="adminListName">
                    @Html.DisplayFor(modelItem => item.Username)
                </div>
                <div class="col-sm-3" id="adminOptions">
                    @Html.ActionLink("Delete Admin", "DeleteAdmin", "Admin", new { id = item.Username }, null)
                </div>
            </div>
        </div>
        <div class="col-sm-4"></div>
    </div>
}