@model IEnumerable<Service.Models.Admin>
    @using Service.Models

@{
    ViewBag.Title = "AdminPanel";
}

<div class="col-sm-6 col-sm-offset-3 text-center">
    <h2>Admin Panel</h2>
    @Html.ActionLink("Create New Book", "CreateBook", "BookAuthorClassification") |
    @Html.ActionLink("Create New Author", "CreateAuthor", "Author") |
    @Html.ActionLink("Create New Classification", "CreateClassification", "Classification") |
    @if (Session["Level"] != null && (Rank)Session["Level"] >= Rank.SuperAdmin)
    {
        @Html.ActionLink("Create New Admin", "CreateAdmin", "Admin");
    }
</div>

@foreach (var item in Model)
{
    <div class="row" id="adminList">
        <div class="col-sm-6 col-sm-offset-3">
            <div class="row" id="adminListItem">
                <div class="col-sm-2" id="adminListName">
                    @Html.DisplayFor(modelItem => item.Username)
                </div>
                <div class="col-sm-3" id="adminListRank">
                    <div class="row">
                        <b>@Html.DisplayFor(modelItem => item.PermissionLevel)</b>
                    </div>
                    <div class="row">
                        @if (item.CanEditClassifications)
                        {
                            @Html.Raw("Classification Editor");
                        }
                    </div>
                </div>
                <div class="col-sm-1" id="adminOptions">
                    @if (Session["Level"] != null && (Rank)Session["Level"] >= Rank.SuperAdmin)
                    {
                        @Html.ActionLink("Delete Admin", "DeleteAdmin", "Admin", new { id = item.Username }, null)
                    }
                </div>
            </div>
        </div>
        <div class="col-sm-4"></div>
    </div>
}