@model IEnumerable<ServerSide_Project.Models.Book>

@{
    ViewBag.Title = "ListBooks";
}

<h2>ListBooks</h2>

<p>
    @Html.ActionLink("Create New Book", "CreateBook", "Create")
</p>
<table class="table">
    @foreach (var item in Model)
    {
        <tr>
            <div class="row" id="bookListItem">
                <div class="col-sm-2">
                    <div class="col-sm-12 text-center" id="bookListImage">
                        image goes here
                    </div>
                    <div class="col-sm-12 text-center" id="bookListGenre">
                        <a>@Html.DisplayFor(modelItem => item.BookGenre.Name)</a>
                    </div>
                </div>
                <div class="col-sm-9">
                    <div class="row">
                        <div class="col-sm-9" id="bookListTitle">

                            @Html.ActionLink(Html.Encode(item.Title), "ListBookDetails","List", new { id = item.ISBN }, null)
                        </div>
                        <div class="col-sm-3" id="bookListAdminPane">
                            @Html.ActionLink("Edit", "EditBook", "Update", new { id = item.ISBN }, new { @class = "" }) |
                            @Html.ActionLink("Details", "ListBookDetails", "List", new { id = item.ISBN }, new { @class = "" }) |
                            @Html.ActionLink("Delete", "DeleteBook", "Delete", new { id = item.ISBN }, new { @class = "" })
                        </div>
                    </div>
                    <div class="row" id="bookListInfoRow">
                        <div class="col-sm-5" id="bookListAuthor">
                            @Html.ActionLink(Html.Encode(item.BookAuthor.FirstName + " " + item.BookAuthor.LastName),"ListAuthorDetails","List",new { id = item.BookAuthor.ID },null);
                        </div>
                        <div class="col-sm-2" id="bookListPublicationYear">
                            Published: @Html.DisplayFor(modelItem => item.PublicationYear)
                        </div>
                        <div class="col-sm-3" id="bookListISBN">
                            ISBN: @Html.DisplayFor(modelItem => item.ISBN)
                        </div>
                        <div class="col-sm-2" id="bookListPages">
                            Pages: @Html.DisplayFor(modelItem => item.Pages)
                        </div>
                    </div>
                    <div class="row" id="bookListDescription">
                        <div class="col-sm-12">
                            @Html.DisplayFor(modelItem => item.ShortDescription)
                        </div>
                    </div>
                </div>
            </div>
        </tr>
    }
</table>

