@using PagedList.Mvc
@using Service.Models
@model Search

@{
    ViewBag.Title = "BrowseAllBooks";
    ViewBag.activeBrowseBy = "Book";
}

@if (Model.BookSearchResult.PageCount > 0)
{
    <div class="text-center" id="pageSelector">
        <div class="pagination">
            Page @(Model.BookSearchResult.PageCount < Model.BookSearchResult.PageNumber ? 0 : Model.BookSearchResult.PageNumber)
            of @Model.BookSearchResult.PageCount
            @Html.PagedListPager(Model.BookSearchResult, page => Url.Action("BrowseAllBooks", new { page }))
        </div>
    </div>
}

@Html.Partial("ListBooks", Model)

@if (Model.BookSearchResult.PageCount > 0)
{
    <div class="text-center" id="pageSelector">
        <div class="pagination">
            Page @(Model.BookSearchResult.PageCount < Model.BookSearchResult.PageNumber ? 0 : Model.BookSearchResult.PageNumber)
            of @Model.BookSearchResult.PageCount
            @Html.PagedListPager(Model.BookSearchResult, page => Url.Action("BrowseAllBooks", new { page }))
        </div>
    </div>
}