@using PagedList.Mvc
@using Service.Models
@model Search

@{
    ViewBag.Title = "BrowseSearchedBooks";
    ViewBag.activeBrowseBy = "Book";
}

@if (Model.BookSearchResult.PageCount > 1)
{
    var a = Request.Url.PathAndQuery;
    <div class="text-center" id="pageSelector">
        <div class="pagination">
            Page @(Model.BookSearchResult.PageCount < Model.BookSearchResult.PageNumber ? 0 : Model.BookSearchResult.PageNumber)
            of @Model.BookSearchResult.PageCount
            @Html.PagedListPager(Model.BookSearchResult, page => Url.Action("SearchBooks", new { page, search = Request.Params["search"], classifications = Model.SelectedClassifications }))
        </div>
    </div>
}

@Html.Partial("ListBooks", Model.BookSearchResult)

@if (Model.BookSearchResult.PageCount > 1)
{
    <div class="text-center" id="pageSelector">
        <div class="pagination">
            Page @(Model.BookSearchResult.PageCount < Model.BookSearchResult.PageNumber ? 0 : Model.BookSearchResult.PageNumber)
            of @Model.BookSearchResult.PageCount
            @Html.PagedListPager(Model.BookSearchResult, page => Url.Action("SearchBooks", new { page, search = Request.Params["search"], classifications = Request.Params["classifications"] }))
        </div>
    </div>
}