@using PagedList.Mvc
@model PagedList.IPagedList<Service.Models.Book>

@{
    ViewBag.Title = "BrowseAllBooks";
    ViewBag.activeBrowseBy = "Book";
}

@if (Model.PageCount > 0)
{
    <div class="text-center" id="pageSelector">
        <div class="pagination">
            Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)
            of @Model.PageCount
            @Html.PagedListPager(Model, page => Url.Action("BrowseAllBooks", new { page }))
        </div>
    </div>
}

@Html.Partial("ListBooks", Model)

@if (Model.PageCount > 0)
{
    <div class="text-center" id="pageSelector">
        <div class="pagination">
            Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)
            of @Model.PageCount
            @Html.PagedListPager(Model, page => Url.Action("BrowseAllBooks", new { page }))
        </div>
    </div>
}