@model ServerSide_Project.Models.Author

@{
    ViewBag.Title = "Author Details";
    ViewBag.activeBrowseBy = "Authors";
}

<h4>Author Details</h4>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div class="row" id="authorDetails">
    <div class="col-sm-1"></div>
    <div class="col-sm-7">
        <h1>@Model.FirstName @Model.LastName</h1>
    </div>
    <div class="col-sm-1">
        <div class="row">
            <p class="listHeadline">Year of Birth:</p>
        </div>
        <div class="row">
            @if (Model.BirthYear == null)
            {
                <span>Unknown</span>
            }
            else
            {
                @Html.Encode(Model.BirthYear);
            }
        </div>
    </div>
    <div class="col-sm-3" id="authorOptions">
        @Html.ActionLink("XX Edit", "Edit", new { id = Model.Aid }) |
        @Html.ActionLink("XX Details", "Details", new { id = Model.Aid }) |
        @Html.ActionLink("Delete", "DeleteAuthor", "Authors", new { id = Model.Aid }, null)
    </div>
</div>



<h4 class="text-center">Books by this author:</h4>


@Html.Partial("ListBooks", Model.BookList)
