@model Service.Models.Author

@{
    ViewBag.Title = "Author Details";
    ViewBag.activeBrowseBy = "Authors";
}

<h4 class="text-center">Author Details</h4>

<div class="row text-left" id="authorDetails">
    <div class="col-sm-2"></div>
    <div class="col-sm-6">
        <h1>@Model.FirstName @Model.LastName</h1>
    </div>
    <div class="col-sm-1">
        <div class="row">
            <p class="listHeadline">Year of Birth:</p>
        </div>
        <div class="row">
            @if (Model.BirthYear == null)
            {
                <span>Unknown</span>
            }
            else
            {
                @Html.Encode(Model.BirthYear);
            }
        </div>
    </div>
    <div class="col-sm-1 text-right">
        
        
        @Html.ActionLink("Edit", "updateAuthor", "Authors", new { id = Model.Aid }, null) |
        @using (Html.BeginForm("deleteAuthor", "Authors", new { id = Model.Aid }, FormMethod.Post, new { @class = "form-group", @id = "authorDetailsOptions" }))
        {
            @Html.AntiForgeryToken()
            <input type="submit" value="Delete" class="btn-link" />
        }
    </div>
    <div class="col-sm-2"></div>
</div>



<h4 class="text-center">Books by this author:</h4>
<div class="col-sm-2"></div>
<div class="col-sm-8">
    @Html.Partial("ListBooks", Model.BookList)
</div>
<div class="col-sm-2"></div>