@using PagedList.Mvc
@using Service.Models
@model Search

@{
    ViewBag.Title = "BrowseAllAuthors";
    ViewBag.activeBrowseBy = "Author";
}

@if (Model.AuthorSearchResult.PageCount > 1)
{
    <div class="text-center" id="pageSelector">
        <div class="pagination">
            Page @(Model.AuthorSearchResult.PageCount < Model.AuthorSearchResult.PageNumber ? 0 : Model.AuthorSearchResult.PageNumber)
            of @Model.AuthorSearchResult.PageCount
            @Html.PagedListPager(Model.AuthorSearchResult, page => Url.Action("BrowseAllAuthors", new { page }))
        </div>
    </div>
}

@Html.Partial("ListAuthors", Model.AuthorSearchResult)

@if (Model.AuthorSearchResult.PageCount > 1)
{
    <div class="text-center" id="pageSelector">
        <div class="pagination">
            Page @(Model.AuthorSearchResult.PageCount < Model.AuthorSearchResult.PageNumber ? 0 : Model.AuthorSearchResult.PageNumber)
            of @Model.AuthorSearchResult.PageCount
            @Html.PagedListPager(Model.AuthorSearchResult, page => Url.Action("BrowseAllAuthors", new { page }))
        </div>
    </div>
}