@model Service.Models.Author
    @using Service.Models

@{
    ViewBag.Title = "Author Details";
    ViewBag.activeBrowseBy = "Author";
}

<h4 class="text-center">Author Details</h4>

<div class="row text-left" id="authorDetails">
    <div class="col-sm-2"></div>
    <div class="col-sm-6">
        <h1>@Model.FullName</h1>
    </div>
    <div class="col-sm-1">
        <div class="row">
            <p class="listHeadline">Year of Birth:</p>
        </div>
        <div class="row">
            @if (Model.BirthYear == null)
            {
                <span>Unknown</span>
            }
            else
            {
                @Html.Encode(Model.BirthYear);
            }
        </div>
    </div>
    <div class="col-sm-1 text-right">
        
        @if (Session["Level"] != null && (Rank)Session["Level"] >= Rank.Admin)
        {
            @Html.ActionLink("Edit", "EditAuthor", "Author", new { id = Model.Aid }, null);
            @Html.Raw(" | ");
            using (Html.BeginForm("DeleteAuthor", "Author", new { id = Model.Aid }, FormMethod.Post, new { @class = "form-group", @id = "authorDetailsOptions" }))
            {
                @Html.AntiForgeryToken();
                <input type="submit" value="Delete" class="btn-link" />
            }
        }
    </div>
    <div class="col-sm-2"></div>
</div>



<h4 class="text-center">Books by this author:</h4>
<div class="col-sm-2"></div>
<div class="col-sm-8">
    @Html.Partial("ListBooks", Model.BookList)
</div>
<div class="col-sm-2"></div>