@using PagedList.Mvc
@model PagedList.IPagedList<Service.Models.Author>

@{
    ViewBag.Title = "ListAuthors";
    ViewBag.activeBrowseBy = "Authors";
}
<div class="row">
    <div class="col-sm-12 text-center">
        <h2>Authors</h2>
    </div>
    <div class="col-sm-offset-3 col-sm-9 text-left">
         @Html.ActionLink("Create New Author", "CreateAuthor", "Authors", null, null)
    </div>
</div>

<div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-6" id="authorListOuter">
        @foreach (var item in Model)
        {

            <div class="row" id="authorListItem">
                <div class="col-sm-1" id="authorImage">
                    <img src="~/Resources/Author.png" width="80%" height="80%" class="text-center" />
                </div>
                <div class="col-sm-3" id="authorListName">
                    @Html.ActionLink(Html.Encode(item.FirstName + " " + item.LastName), "ListAuthorDetails", "Authors", new { id = item.Aid }, null)
                </div>
                <div class="col-sm-2 text-right">
                    <div class="row">
                        <p class="listHeadline">Year of Birth:</p>
                    </div>
                    <div class="row">
                        @if (item.BirthYear == null)
                        {<span>Unknown</span>}
                        else
                        { @Html.Encode(item.BirthYear);
                        }
                    </div>
                </div>
                <div class="col-sm-2 text-right">
                    @Html.ActionLink("Edit", "updateAuthor", "Authors", new { id = item.Aid }, null) |
                    @using (Html.BeginForm("deleteAuthor", "Authors", new { id = item.Aid }, FormMethod.Post, new { @class = "form-group", @id = "authorListOptions" }))
                    {
                        @Html.AntiForgeryToken()
                        <input type="submit" value="Delete" class="btn-link" />
                    }
                </div>
            </div>

        }
    </div>
    <div class="col-sm-3"></div>
</div>